<table>
  <tr>
    <th></th>
    <th>Number</th>
    <th>%</th>
  </tr>
  <tr>
    <td>Total bikes in operation</td>
    <td>{{totalBikes}}</td>
    <td>100.0</td>
  </tr>  
  <tr>
    <td>Total bikes available</td>
    <td>{{bikesAvailable}}</td>
    <td>{{bikesAvailablePercent}}</td>
  </tr>
  <tr>
    <td>Total docks available</td>
    <td>{{docksAvailable}}</td>
    <td>{{docksAvailablePercent}}</td>
  </tr>
</table>